@tailwind base;
@tailwind components;

:root {
  --color: rgba(0, 0, 0, 1);
  --backgound-color: rgba(255, 255, 255, 1);
  --outline-color: rgba(151, 151, 151, 1);
}

html {
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Jost*', sans-serif;
}

html,
body,
.theme {
  @apply transition-colors duration-700 ease-in-out;
  background-color: var(--backgound-color);
  color: var(--color);
}

h1,
h2,
h3 {
  font-family: 'MFred', sans-serif;
  line-height: 0.75;
  transform: translateY(25%);
}

.theme-outline {
  outline: 2px solid var(--outline-color);
  outline-offset: -1px;
}

.place-stretch {
  place-content: stretch;
}

.place-start {
  place-content: start;
}

.place-center {
  place-content: center;
}

@tailwind utilities;
