@tailwind base;
@tailwind components;

:root {
  --color: rgba(0, 0, 0, 1);
  --backgound-color: rgba(255, 255, 255, 1);
  --outline-color: rgba(151, 151, 151, 1);
}

html {
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Jost*', sans-serif;
}

html,
body,
.theme,
.theme strong {
  @apply transition-colors duration-300 ease-in-out;
  background-color: var(--backgound-color);
  color: var(--color);
  will-change: background-color, color;
}
.theme-inverted {
  background-color: var(--color);
  color: var(--backgound-color);
  will-change: background-color, color;
}

[data-oembed] > iframe {
  width: 100% !important;
  height: 40vmax !important;
}

h1,
h2,
h3 {
  font-family: 'MFred', sans-serif;
  line-height: 0.91625em;
  padding: 0.05px 0;
}

h1::before,
h2::before,
h3::before {
  content: '';
  margin-top: 0.0241114583333333em;
  display: block;
  height: 0;
}

h1::after,
h2::after,
h3::after {
  content: '';
  margin-bottom: -0.20888854166666668em;
  display: block;
  height: 0;
}

h1 {
  font-size: 3rem;
  @apply text-heading-1;
}
h2 {
  font-size: 1.875rem;
  @apply text-heading-2;
}
h3 {
  font-size: 1.5rem;
  @apply text-heading-3;
}

.theme-outline {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--outline-color);
  outline-offset: -1px;
  will-change: outline-color;
}

.place-stretch {
  place-content: stretch;
}

.place-start {
  place-content: start;
}

.place-center {
  place-content: center;
}

@tailwind utilities;
